# Recolección de datos (Web Scraping)
requests>=2.31.0
beautifulsoup4>=4.12.0

# Manipulación y Análisis de datos
pandas>=2.1.0
numpy>=1.26.0

# Visualización de datos
matplotlib>=3.8.0
seaborn>=0.13.0

# Machine Learning y Modelado
scikit-learn>=1.3.0

# Entorno de desarrollo interactivo
jupyterlab>=4.0.0